
<div class="container pt-6 pb-6">
    <h1 class="intro">Spolupráce</h1>
    <div class="row">
        {% assign teams = site.team | sort: "weight" %}
        {% for team in teams %}
        <div class="col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">
                        {% if team.websiteurl %}
                        <a href="{{ team.websiteurl }}">{{ team.title }}</a>
                        {% else %}
                        {{ team.title }}
                        {% endif %}
                    </h2>
                    <h3>{{ team.jobtitle }}</h3>
                </div>
                <div class="team-content">{{ team.content | truncate: 180 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
