
<div class="container pt-4 pb-4 pt-xl-8 pt-lg-7 pt-md-6 pt-sm-5 pb-xl-8 pb-lg-7 pb-md-6 pb-sm-5">
    <h1 class="intro">Spolupráce</h1>
    <div class="row">
        {% assign teams = site.team | sort: "weight" %}
        {% for team in teams %}
        <div class="col-md-6 pt-1 pb-1 pt-xl-4 pt-lg-3 pt-md-2 pt-sm-1 pb-xl-4 pb-lg-3 pb-md-2 pb-sm-1">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="90" height="90" alt="{{ team.title }}" class="img-fluid mb-2" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name">
                        {% if team.websiteurl %}
                        <a href="{{ team.websiteurl }}">{{ team.title }}</a>
                        {% else %}
                        {{ team.title }}
                        {% endif %}
                    </h2>
                    <h3>{{ team.jobtitle }}</h3>
                </div>
                <div class="team-content">{{ team.content | truncate: 180 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
