.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  p {
    font-family: $font-family-base;
    color: $steel;
    @include media-breakpoint-down(xl) {
      text-indent: 20px;
      font-size: 1.5rem;
    }
    @include media-breakpoint-down(lg) {
      text-indent: 15px;
      font-size: 1.4rem;
    }
    @include media-breakpoint-down(md) {
      text-indent: 10px;
      font-size: 1.3rem;
    }
    @include media-breakpoint-down(sm) {
      text-indent: 5px;
      font-size: 1.2rem;
    }
    @include media-breakpoint-down(xs) {
      text-indent: 5px;
      font-size: 1.1rem;
    }
  }
}
