.intro {
  .headline-name {
    font-weight: bold;
    color: $red;
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
  }
  .headline-about {
    margin-bottom: 20px;
    font-weight: bold;
    color: $black;
    font-size: 1.2rem;
    line-height: 1.4;
    font-family: $font-family-sans-serif;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  h1 {
    color: $black;
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-family: $font-family-base;
    font-size: 1.1rem;
    line-height: 1.3;
    color: $steel;
    text-indent: 15px;
    @include media-breakpoint-down(xs) {
    font-size: 1rem;
    line-height: 1;
    }
  }
}
