---
layout: default
bodyClass: "page-home"
---


<div class="intro">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12">
        <p>
          <img alt="{{ page.title }}" class="shape-outside about-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.about_image | relative_url }}" />
          {{ page.description }}
          <p>{{ page.specialization }}</p>
          <p>{{ page.teaching }}</p>
        </p>
      </div>
    </div>
  </div>
</div>
