---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-12">
        <img alt="{{ page.title }}" class="rounded mx-auto d-block home-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.header_image | relURL }}" />
      </div>
      <div class="col-12">
        <p>
          {{ page.description }} <a href="about" class="nav-toggle"> ... >></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  {% include services.html %}
</div>

<div class="strip">
  {% include teams.html %}
</div>

<div class="strip strip-grey">
  {% include medias.html %}
</div>

{% if page.footer_image %}
<div class="strip">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 pt-6 order-md-1 order-xs-1 position-relative">
        <img alt="{{ page.title }}" class="img-fluid rounded mx-auto d-block footer-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.footer_image | relURL }}" />
      </div>
      <div class="col-12 col-md-6 pt-md-6 order-md-2 order-xs-2">
        <div class="feature">
          <div>
            <h3>email</h3>
            <p><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></p>
          </div>
          <div>
            <h3>telefon</h3>
            <p class="user-select-all">+420 774 394 700</p>
          </div>
          <div>
            <h3>kancelář</h3>
            <p class="user-select-all">Jana Zajíce 29, Praha 7</p>
          </div>
          <div>
            <h3>sídlo</h3>
            <p class="user-select-all">Orelská 611/16, Praha 10</p>
          </div>
          <div>
            <h3>IČO</h3>
            <p class="user-select-all">17649714</p>
          </div>
          <div>
            <h3>datovka</h3>
            <p class="user-select-all">5b4utfj</p>
          </div>
        </div>
        </div>

      </div>
  </div>
</div>
{% endif %}

{% if site.data.features %}
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-6">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <h3 class="feature-content">{{ feature.description }}</h3>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
