---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-12">
        <img alt="{{ page.title }}" class="rounded mx-auto d-block home-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.header_image | relURL }}" />
      </div>
      <div class="col-12">
        <p>
          {{ page.description }} <a href="about" class="nav-toggle"> ... >></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  {% include services.html %}
</div>

<div class="strip">
  {% include teams.html %}
</div>

<div class="strip strip-grey">
  {% include medias.html %}
</div>

{% if page.footer_image %}
<div class="intro">
  <div class="container justify-content-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6 order-md-1 order-xs-1 position-relative">
        <img alt="{{ page.title }}" class="img-fluid rounded mx-auto d-block home-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.footer_image | relURL }}" />
      </div>
      <div class="col-12 col-md-6 col-lg-4 order-md-2 order-xs-2">
        <div class="list-group">
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">email</h3>
            </div>
            <p class="mb-1">
              <a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}
              </a>
            </p>
          </div>
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">telefon</h3>
            </div>
            <p class="user-select-all">+420 774 394 700</p>
          </div>
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">kancelář</h3>
            </div>
            <p class="user-select-all">Jana Zajíce 29, Praha, 170 00</p>
          </div>
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">sídlo</h3>
            </div>
            <p class="user-select-all">Orelská 611/16, Praha, 101 00</p>
          </div>
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">IČO</h3>
            </div>
            <p class="user-select-all">17649714</p>
          </div>
          <div>
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">datovka</h3>
            </div>
            <p class="user-select-all">5b4utfj</p>
          </div>
        </div>
        </div>

      </div>
  </div>
</div>
{% endif %}

{% if site.data.features %}
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <h3 class="feature-content">{{ feature.description }}</h3>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
