---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container justify-content-center">
    <div class="row">
      <div class="col-12 pt-1 pb-1 pt-xl-3 pt-lg-2 pt-md-1 pt-sm-1 pb-xl-3 pb-lg-2 pb-md-1 pb-sm-1">
        <img alt="{{ page.title }}" class="rounded mx-auto d-block home-image{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.header_image | relURL }}" />
      </div>
      <div class="col-12 pt-1 pb-1 pt-xl-3 pt-lg-2 pt-md-1 pt-sm-1 pb-xl-3 pb-lg-2 pb-md-1 pb-sm-1">
        <p>
          {{ page.specialization }} <a href="about" class="nav-toggle"> ... >></a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  {% include services.html %}
</div>

<div class="strip">
  {% include teams.html %}
</div>

<div class="strip strip-grey">
  {% include medias.html %}
</div>

<div class="strip contact">
  {% include contact.html %}
</div>
